<h1>Spanish Squares</h1>


<form method="POST" >
  <fieldset>
    <label for='spanish'>Spanish Word</label>
    <input type='text' id='spanish' name='spanish' />
    <label for='english'>English Word</label>
    <input type='text' id='english' name='english' />
    <label for='category'>Select categories</label>
    <input type='text' id='category' name='category' />
    <label for='audio'>Upload audio file</label>
    <input type='text' id='audio' name='audio' />
    <label for='image'>Import Image Link</label>
    <input type='text' id='image' name='image' />
  </fieldset>

<button>Submit card</button>
</form>
